@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    
    .swiper-pagination-bullet {
        background-color: #0D173B !important;
        transform: translateY(-3rem);
        border: 1px solid white !important;
    }
    .swiper-pagination-bullet-active {
        width: 25px !important;
        border-radius: 4px !important;
    }
    .swiper-slide{
        max-height: 100vh;
    }
    .swiper-slide img{
        width: 100%;
        object-fit: cover;
    } 
    @media (max-width: 768px) {
        .swiper .swiper-slide{
            height: 100% !important;
            object-fit: cover;
        }
        .swiper-height{
            height: 50vh !important;
        }
        .swiper-pagination-bullet {
            transform: translateY(10rem) !important;
        }
    }
}