@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    html {
        scroll-behavior: smooth;
      }
      *,
      ::after,
      ::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    .swiper-pagination-bullet {
        background-color: #0D173B !important;
        transform: translateY(-3rem);
        border: 1px solid white !important;
    }
    .swiper-pagination-bullet-active {
        width: 25px !important;
        border-radius: 4px !important;
    }
    .swiper-slide{
        max-height: 100vh;
    }
    .swiper-slide img{
        width: 100%;
        object-fit: cover;
    } 
    @media (max-width: 768px) {
        .swiper{
            height: 120% !important;
        }
        .swiper-slide{
            height: 100% !important;
        }
        .swiper-slide img{
            height: 100% !important;
            object-fit: none;
        }
        .swiper-height{
            height: 50vh !important;
        }
        .swiper-pagination-bullet {
            transform: translateY(-2rem) !important;
        }
    }
}